*.pyc
*.cache

/Installed Packages/
/Pristine Packages/
/Settings/
/Backup/
/Local/
/Index/

/Packages/*/
!/Packages/User/
!/Packages/Default/
!/Packages/Ore/

/Packages/User/Package Control.last-run
/Packages/User/Package Control.sublime-settings
/Packages/User/encoding_cache.json
/Packages/User/.SublimeREPLHistory/
